body {
    color: #ddd;
    background: #000;
}

.header {
    background: rgb(0,85,170);
    background: linear-gradient(90deg, rgba(0,85,170,1) 0%, rgba(231,119,6,1) 100%);
    padding: 15px 20px;
    border-bottom: 2px solid #000;
    width: 100%;
}

.headerName {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 15px;
}

.cv-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.cv  {
    display: flex;
    flex-direction: column;
    background-color: #05a4;
    align-items: center;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 40px;
    margin: 0 50px;
    background-color: transparent;
}

.profile__img-container {
    justify-self: start;
}

.profile__img {
    width: 200px;
    height: 236px;
    margin: 0 50px 0 0;
    background-color: #000;
    background-image: url(Multimedia/Img/Foto_Curriculum-01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid #031d35;
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px 15px #0009;
    filter: saturate(0.9) brightness(1.2);
}

.profile__description-container {
    justify-self: end;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.profile__description, .profile__name {
    width: 400px;
    margin: 30px 50px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.profile__name {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    align-self: end;
}

.horizontalDivider {
    width: 840px;
    height: 1px;
    margin: 0 auto;
    border-bottom: 1px solid #888;
}

.formationSkillExp-container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-content: center;
    justify-items: center;
    padding: 20px 30px 30px;
    background-color: transparent;
}

.formation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 10px 0 0 0;
}

.formation {
    width: 400px;
    padding: 20px 20px;
    align-self: start;
}

.formation-title-container, .exp-title-container, .skill-title-container {
    background: #e16c05d8;
    margin: 0 0 10px 0;
    display: flex;
    width: 350px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.skill-title-container {
    margin-top: 10px;
}

.formation-title, .exp-title, .skill-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
}

.exp-title, .skill-title {
    align-self: center;
}

.formationSection, .expSection, .skillSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 15px 0;
}

.formationSection:nth-child(5) {
    margin: 0;
}

.expSection, .skillSection {
    align-items: flex-end;
} 

.formationTitles {
    padding: 0 0 0 5px;
    border-left: 1px solid #e16c05d8;
}

.expTitles, .skillTitles {
    padding: 0 5px 0 0;
    border-right: 1px solid #e16c05d8;
}

.formationTitles, .expTitles, .skillTitles {
    margin: 10px 0 10px 0;
    font-size: 22px;
    font-weight: bolder;
}

.formationContents {
    font-size: 16px;
    margin: 0 0 5px 0;
    align-self: start;
}

.verticalDivider {
    width: 1px;
    height: 100%;
    background: #888;
}

.expSkill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    padding: 10px 0 0 0;
}

.exp, .skill {
    padding: 20px 20px 5px 20px;
}

.exp-container, .skill-container {
    align-self: end;
}

.skillSection:nth-child(4) {
    margin: 0;
}

.expContents, .skillContents {
    font-size: 16px;
    margin: 0 0 5px 0;
    align-self: end;
    text-align: right;
    max-width: 300px;
}

.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 87px;
    align-items: center;
    background: #05a;
    border-top: 2px solid #000;
}

.footerSocialMedia {
    display: grid;
    grid-template-columns: 1fr repeat(5, 60px) 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    margin: 20px 0;
}

.footerSocialMedia-icons {
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(3px 3px #0005);
}

.footerSocialMedia-icons:hover {
    animation-name: iconHover;
    animation-duration: 0.4s;
}

.footerWs {
    background-image: url(Multimedia/Img/WhatsApp.svg.webp);
    width: 40px;
    height: 40px;
    grid-column: 3 / 4;
}

.wsHide {
    display: none;
}

.Show {
    display: block;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    padding: 10px 0 0 0;
}

.footerFb {
    background-image: url(Multimedia/Img/Facebook.svg.webp);
    width: 40px;
    height: 40px;
    grid-column: 4 / 5;
}

.footerInstagram {
    background-image: url(Multimedia/Img/Instagram.svg.png);
    width: 40px;
    height: 40px;
    grid-column: 4 / 5;
}

.footerEmail {
    background-image: url(Multimedia/Img/Gmail.svg.png);
    width: 40px;
    height: 30px;
    grid-column: 5 / 6;
}

.emailHide {
    display: none;
}

.footerCopyright {
    padding: 20px 0;
    grid-column: 1 / 4;
    text-align: center;
    opacity: 0.6;
    align-self: flex-end;
    background: #039;
}

.footerCopyright-name {
    margin: 0 0 10px 0;
}

@media screen and (max-width: 450px) {
    .header {
        max-width: 450px;
    }

    .cv-container {
        max-width: 450px;
    }

    .cv {
        max-width: 450px;
    }

    .profile-container {
        grid-template-columns: 1fr;
        max-width: 450px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .profile__img-container {
        justify-self: center;
    }

    .profile__img {
        margin: 30px auto;
    }

    .profile__description-container {
        max-width: 450px;
        justify-self: center;
        justify-items: center;
    }

    .profile__description, .profile__name {
        width: 100%;
        max-width: 400px;
        padding: 0 8px 10px 8px;
        margin: 0;
        text-align: center;
        font-weight: bold;
    }

    .profile__name {
        font-size: 30px;
        text-shadow: 5px 5px #000;
    }

    .profile__description {
        font-size: 20px;
    }

    .horizontalDivider {
        width: 90%;
        height: 15px;
    }

    .verticalDivider {
        display: none;
    }

    .formationSkillExp-container {
        width: 100%;
        max-width: 450px;
        grid-template-columns: 1fr;
    }

    .formation-title-container, .exp-title-container, .skill-title-container {
        width: 100%;
        max-width: 450px;
        margin: 0;
        padding: 0 4px;
    }

    .formationTitles {
        min-width: 205px;
    }

    .formation {
        width: 100%;
        max-width: 450px;
    }

    .expSkill-container {
        min-width: auto;
    }

    .skillTitles:first-child, .expTitles:first-child {
        text-align: right;
    }

    .footer {
        max-width: 450px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        padding: 0;
    }

    .footerSocialMedia {
        grid-template-columns: 1fr repeat(4, 50px) 1fr;
    }

    .footerCopyright {
        padding: 20px 0;
        grid-column: auto;
        background: #039;
    }
}

@media screen and (max-width: 920px) and (min-width: 451px) {
    .cv {
        align-items: stretch;
    }
}