body {
    color: #ddd;
    background: #000;
    height: 100vh;
}

.header {
    background: #05a;
    padding: 15px 20px;
    border-bottom: 2px solid #000;
}

.headerName {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.cv-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.cv  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05a4;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 30px 0 0 0;
    background-color: transparent;
}

.profile__img-container {
    justify-self: start;
}

.profile__img {
    width: 200px;
    height: 236px;
    margin: 30px 50px 30px 100px;
    background-color: #000;
    background-image: url(Multimedia/Img/Foto_Curriculum-01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 3px solid #05a;
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px 15px #0009;
    opacity: 0.8;
    filter: saturate(0.9) brightness(1.2);
}

.profile__description-container {
    justify-self: end;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.profile__description, .profile__name {
    width: 400px;
    margin: 30px 50px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.profile__name {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    align-self: end;
}

.separator {
    width: 840px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 1px solid #888;
}

.formationSkillExp-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 30px;
    background-color: transparent;
}

.formation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #888;
    padding-right: 30px;
}

.formation {
    width: 400px;
    padding: 0 20px;
}

.formation-title, .exp-title, .skill-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 50px 0;
}

.formationSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 15px 0;
}

.formationTitles {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bolder;
}

.formationContents {
    font-size: 16px;
    margin: 0 0 15px 0;
    align-self: start;
}

.expSkill-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding-left: 30px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background: #05a;
    padding: 15px 20px;
    border-top: 2px solid #000;
}

.footerNumber, .footerDirection, .footerEmail {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footerNumber {
    text-align: center;
}

.footerDirection {
    text-align: start;
}

.footerEmail {
    text-align: end;
}